<div>

<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters: false">

    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'">
        <div data-dojo-type="dijit/form/DropDownButton" data-dojo-attach-point="_foDropDown">
            <span>Filter Options</span>
            <div style="width: 500px;" data-dojo-type="dijit/TooltipDialog" data-dojo-props="style: 'width: 500px;'">
                <div class="bgFilterOptions bgFilterOptionsDiagsRuns" data-dojo-type="dijit/form/Form" data-dojo-props="'class': 'bgFilterOptions bgFilterOptionsDiagsRuns'" data-dojo-attach-point="_foForm">
                    <fieldset>
                        <ul>
                            <li>
                                <label for="${id}-fo-status">Diagnostics Status</label>
                                <input id="${id}-fo-status" data-dojo-type="bluegene/navigator/dijit/MultiSelectCodes" data-dojo-props="name: 'status', values: this._b_navigator_xlate.diagnostics.runStatusCode" />
                            </li>
                            <li><input data-dojo-type="bluegene/navigator/dijit/TimeInterval" data-dojo-props="name: 'end', label: 'Ended'" /></li>
                            <li>
                                <label for="${id}-fo-location">Target Location</label>
                                <input name="locations" id="${id}-fo-location" data-dojo-type="dijit/form/TextBox" data-dojo-props="name: 'locations'" />
                            </li>
                            <li>
                                <label for="${id}-fo-block">Target Block</label>
                                <input name="block" id="${id}-fo-block" data-dojo-type="dijit/form/TextBox" data-dojo-props="name: 'block'" />
                            </li>
                        </ul>
                    </fieldset>
                    <fieldset class="submit">
                        <button type="submit" data-dojo-type="dijit/form/Button" data-dojo-props="type: 'submit'">Apply</button>
                        <button type="button" data-dojo-type="dijit/form/Button" data-dojo-props="type: 'button'" data-dojo-attach-point="_resetButton">Reset</button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'">
        <table style="height: 100%;" data-dojo-type="dojox/grid/EnhancedGrid" 
               data-dojo-props="selectable: true, selectionMode: 'single', style: 'height: 100%;', noDataMessage: '&lt;span class=\'dojoxGridNoData\'&gt;No diagnostics runs match the filter options.&lt;/span&gt;'"
               data-dojo-attach-point="_grid"
               >
            <thead><tr>
                <th field="end" formatter="bluegene.navigator.format.timestamp" width="110px" cellStyles="text-align: right">End Time</th>
                <th field="status" width="140px" cellStyles="text-align: center">Diagnostics Status</th>
                <th field="start" formatter="bluegene.navigator.format.timestamp" width="110px" cellStyles="text-align: right">Start Time</th>
                <th field="logDirectory" formatter="bluegene.navigator.format.diagnostics.calcRunLogFile" width="250px">Log File</th>
                <th field="blocks" formatter="bluegene.navigator.format.diagnosticsRunTargets" width="100px">Targets</th>
            </tr></thead>
        </table>
    </div>
</div>

</div>