<td>

Run submitted <span data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._b_navigator_format.timestamp" data-dojo-attach-point="_startTimetext"></span>
<span data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_userHideable">by <span data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_username"></span></span>
<span data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_cancelButtonContainer">
  <button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-point="_cancelButton">Cancel</button>
  <span data-dojo-type="bluegene/dijit/Hideable" data-dojo-props="visibility: 'hidden'" data-dojo-attach-point="_cancelingText">Canceling diagnostics run...</span>
  <span data-dojo-type="bluegene/dijit/Hideable" data-dojo-props="visibility: 'hidden'" data-dojo-attach-point="_canceledText">This run has been canceled.</span>
  <span data-dojo-type="bluegene/dijit/Hideable" data-dojo-props="visibility: 'hidden'" data-dojo-attach-point="_errorHideable">
      Error canceling the run, <span data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_errorText"></span>
  </span>
</span>

<table data-dojo-type="bluegene/navigator/dijit/Table" data-dojo-props="showHeader: false" data-dojo-attach-point="_blocksTable"></table>

</td>