<div>

<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters: false">

    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'">
        <div data-dojo-type="dijit/form/DropDownButton" data-dojo-attach-point="_foDropDown">
            <span>Filter Options</span>
            <div style="width: 500px;" data-dojo-type="dijit/TooltipDialog" data-dojo-props="style: 'width: 500px;'">
                <div class="bgFilterOptions bgFilterOptionsEnv" data-dojo-type="dijit/form/Form" data-dojo-props="'class': 'bgFilterOptions bgFilterOptionsEnv'" data-dojo-attach-point="_foForm">
                    <fieldset>
                        <ul>
                            <li><input data-dojo-type="bluegene/navigator/dijit/TimeInterval" data-dojo-props="name: 'interval', label: 'Entries'" /></li>
                            <li>
                                <label for="${id}-fo-location">Location</label>
                                <input id="${id}-fo-location" data-dojo-type="bluegene/navigator/dijit/MultiWildcardTextBox" data-dojo-props="name: 'location'" />
                            </li>
                            <li data-dojo-type="bluegene/navigator/dijit/NumberCompareOption" data-dojo-props="integerOnly: true, label: 'ASICTemp', name: 'temp'"></li>
                        </ul>
                    </fieldset>
                    <fieldset class="submit">
                        <button type="submit" data-dojo-type="dijit/form/Button" data-dojo-props="type: 'submit'">Apply</button>
                        <button type="button" data-dojo-type="dijit/form/Button" data-dojo-props="type: 'button'" data-dojo-attach-point="_foResetButton">Reset</button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'">
        <table style="height: 100%;" data-dojo-type="dojox/grid/EnhancedGrid"
                data-dojo-props="rowsPerPage: 50, selectable: true, style: 'height: 100%;', noDataMessage: '&lt;span class=\'dojoxGridNoData\'&gt;No entries match the filter options.&lt;/span&gt;'"
                data-dojo-attach-point="_grid"
                >
            <thead><tr>
                <th field="location" width="100px">Location</th>
                <th field="time" formatter="bluegene.navigator.format.timestamp" width="110px" cellStyles="text-align: right;">Time</th>
                <th field="temp" width="80px" cellStyles="text-align: right;" formatter="bluegene.navigator.format.colorizeTemp">ASICTemp</th>
            </tr></thead>
        </table>
    </div>
</div>

</div>