<div>

<div data-dojo-type="dijit/layout/ContentPane">

    <table class="bgFields bgBlockFields">
        <tr>
            <th>ID</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_id">N/A</td>
        </tr>
        <tr>
            <th>Status</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._ll_format.blockStatus" data-dojo-attach-point="_status">N/A</td>
        </tr>
        <tr>
            <th>Status Changed</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._ll_format.timestamp" data-dojo-attach-point="_statusChanged">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_errorMessageItem">
            <th>Error Message</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_errorMessage">N/A</td>
        </tr>
        <tr>
            <th>User</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_user">N/A</td>
        </tr>
        <tr>
            <th>Owner</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_owner">N/A</td>
        </tr>
 
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_sizeItem">
            <th>Size</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._d_number.format" data-dojo-attach-point="_size">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_shapeItem">
            <th>Shape</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_shape">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_torusItem">
            <th>Torus</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_torus">N/A</td>
        </tr>

        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_ioNodesItem">
            <th>I/O Nodes</th> 
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._d_number.format" data-dojo-attach-point="_ioNodes">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_locationsItem">
            <th>Locations</th> 
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_locations">N/A</td>
        </tr>

        <tr>
            <th>Description</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_description">N/A</td>
        </tr>
        <tr>
            <th>Created</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._ll_format.timestamp" data-dojo-attach-point="_createdDij">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_microloaderImageItem">
            <th>Microloader Image</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_microloaderImage">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_nodeConfigurationItem">
            <th>Node Configuration</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_nodeConfiguration">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_optionsItem">
            <th>Options</th> 
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_options">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_bootOptionsItem">
            <th>Boot Options</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_bootOptions">N/A</td>
        </tr>
    </table>

</div>

</div>