<div>

<div data-dojo-type="dijit/layout/TabContainer" data-dojo-attach-point="tabContainer">
    <div title="Summary" data-dojo-type="bluegene/navigator/dijit/diagnostics/Summary" data-dojo-attach-point="summaryTab"></div>
    <div title="Locations" data-dojo-type="bluegene/navigator/dijit/diagnostics/Locations" data-dojo-attach-point="locationsTab"></div>
    <div title="Completed Runs" data-dojo-type="bluegene/navigator/dijit/diagnostics/Runs" data-dojo-attach-point="runsTab"></div>
    <div title="Details" data-dojo-type="bluegene/navigator/dijit/diagnostics/Details" data-dojo-attach-point="detailsTab"></div>
</div>

</div>