<div>

<div data-dojo-type="dijit/layout/TabContainer">
    <div title="Health Check" data-dojo-type="bluegene/navigator/dijit/environmentals/HealthCheck" data-dojo-attach-point="hcTab"></div>
    <div title="Service Card" data-dojo-type="bluegene/navigator/dijit/environmentals/ServiceCard" data-dojo-attach-point="scTab"></div>
    <div title="Service Card Temp" data-dojo-type="bluegene/navigator/dijit/environmentals/ServiceCardTemp" data-dojo-attach-point="sctTab"></div>
    <div title="Bulk Power" data-dojo-type="bluegene/navigator/dijit/environmentals/BulkPower" data-dojo-attach-point="bpTab"></div>
    <div title="Optical" data-dojo-type="bluegene/navigator/dijit/environmentals/Optical" data-dojo-attach-point="optTab"></div>
    <div title="Link Chip" data-dojo-type="bluegene/navigator/dijit/environmentals/LinkChip" data-dojo-attach-point="lchTab"></div>
    <div title="Node" data-dojo-type="bluegene/navigator/dijit/environmentals/Node" data-dojo-attach-point="nodeTab"></div>
    <div title="Node Card" data-dojo-type="bluegene/navigator/dijit/environmentals/NodeCard" data-dojo-attach-point="ncTab"></div>
    <div title="I/O Card" data-dojo-type="bluegene/navigator/dijit/environmentals/IoCard" data-dojo-attach-point="iocTab"></div>
    <div title="Fan" data-dojo-type="bluegene/navigator/dijit/environmentals/Fan" data-dojo-attach-point="fanTab"></div>
    <div title="Coolant" data-dojo-type="bluegene/navigator/dijit/environmentals/Coolant" data-dojo-attach-point="coolantTab"></div>
</div>

</div>