<div>

<div data-dojo-type="dijit/layout/ContentPane">
    <div style="position: absolute; top: -4px; left: -4px; z-index: 90;">
        <button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-point="_toggleVisibilityButton">Hide</button>
    </div>
    <div style="float: left;" data-dojo-type="bluegene/navigator/dijit/Charts" data-dojo-attach-point="charts"></div>
    <div style="float: right;">
        <button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-point="_refreshButton">Refresh</button>
    </div>
</div>

</div>