<div>

<div data-dojo-type="dijit/layout/ContentPane">
    <span style="font-weight: bold;" data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_systemNameText">My Blue Gene</span>
    <span style="float: right;">
        <span data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_userNameText">Username</span>
        <span style="border-left: solid black 2px; padding-left: 5px;"></span>
        <span data-dojo-type="bluegene/dijit/ActionLink" data-dojo-attach-point="_endSessionButton">End session</span>
    </span>
</div>

</div>