<div>

<div data-dojo-type="dijit/layout/BorderContainer">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'">
        <table style="height: 100%;" data-dojo-type="dojox/grid/EnhancedGrid"
               data-dojo-props="selectable: true, selectionMode: 'single', noDataMessage: '&lt;span class=\'dojoxGridNoData\'&gt;No blocks match the filter options.&lt;/span&gt;'"
               data-dojo-attach-point="_grid"
               >
            <thead><tr>
                <th field="id" width="180px">Block ID</th>
                <th field="status" width="60px" formatter="bluegene.navigator.format.blockStatus">Status</th>
                <th field="user" width="100px">User</th>
                <th field="ioNodeCount" width="50px" formatter="dojo.number.format" cellStyles="text-align: right;">Size</th>
            </tr></thead>
        </table>
    </div>
    <div style="height: 250px;" data-dojo-type="bluegene/navigator/dijit/IoBlockDetails" data-dojo-props="region: 'bottom', splitter: true" data-dojo-attach-point="_blockDetails"></div>
</div>

</div>