<div>

<div data-dojo-type="dijit/layout/ContentPane">
    <table class="bgFields bgJobFields">
        <tr>
            <th>ID</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_id">N/A</td>
        </tr>
        <tr>
            <th>Executable</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_executable">N/A</td>
        </tr>
        <tr>
            <th>User</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._ll_format.emptyQuotes" data-dojo-attach-point="_user">N/A</td>
        </tr>
        <tr>
            <th>Block</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._ll_format.emptyQuotes" data-dojo-attach-point="_block">N/A</td>
        </tr>
        <tr>
            <th>Initial directory</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._ll_format.emptyQuotes" data-dojo-attach-point="_idir">N/A</td>
        </tr>
        <tr>
            <th>Arguments</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._ll_format.emptyQuotes" data-dojo-attach-point="_args">N/A</td>
        </tr>
        <tr>
            <th>Environment</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._ll_format.emptyQuotes" data-dojo-attach-point="_env">N/A</td>
        </tr>
        <tr>
            <th>Started</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._ll_format.timestamp" data-dojo-attach-point="_startedDij">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_endedItem">
            <th>Ended</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._ll_format.timestamp" data-dojo-attach-point="_ended">N/A</td>
        </tr>
        <tr>
            <th>Status</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._ll_format.jobStatus" data-dojo-attach-point="_status">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_statusChangedItem">
            <th>Status changed</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._ll_format.timestamp" data-dojo-attach-point="_statusChanged">N/A</td>
        </tr>
        <tr>
            <th>Nodes used</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._d_number.format" data-dojo-attach-point="_nodesUsed">N/A</td>
        </tr>
        <tr>
            <th>Shape</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_shape">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_cornerItem">
            <th>Corner</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_corner">N/A</td>
        </tr>
        <tr>
            <th>Processes per node</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_PPN">N/A</td>
        </tr>
        <tr>
            <th>NP</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._d_number.format" data-dojo-attach-point="_NP">N/A</td>
        </tr>                        
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_mappingItem">
            <th>Mapping</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_mapping">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_schedDataItem">
            <th>Scheduler data</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_schedData">N/A</td>
        </tr>
        <tr>
            <th>Client</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._ll_format.emptyQuotes" data-dojo-attach-point="_client">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_exitStatusItem">
            <th>Exit status</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_exitStatus">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_errTextItem">
            <th>Error text</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_errText">N/A</td>
        </tr>
    </table>
</div>

</div>