<ul>
    <li><a href="http://www.redbooks.ibm.com/cgi-bin/searchsite.cgi?query=blue+AND+gene+AND+Q" target="_blank">IBM Blue Gene/Q <span style="color:red;">Red</span>books</a></li>
    <li><a href="resources/doc/RasEventBook.htm" target="_blank">RAS book</a></li>
    <li><a href="resources/doc/pami/index.html" target="_blank">Developer documentation for PAMI</a></li>
    <li><a href="resources/doc/bgpm/index.html" target="_blank">Developer documentation for the Performance Monitoring API</a></li>
    <li><a href="resources/doc/spi/index.html" target="_blank">Developer documentation for the System Programming Interfaces (SPI)</a></li>
    <li><a href="resources/doc/bgsched/index.html" target="_blank">Developer documentation for the Blue Gene Scheduler APIs</a></li>
    <li><a href="resources/doc/bgws/index.html" target="_blank">Developer documentation for the Blue Gene Web Services</a></li>
</ul>
