<div>

<div data-dojo-type="dijit/layout/TabContainer" data-dojo-attach-point="_tabContainer">
    <div title="System Summary" data-dojo-type="bluegene/navigator/dijit/SystemSummary" data-dojo-attach-point="_systemSummary"></div>
    <div title="Jobs" data-dojo-type="bluegene/navigator/dijit/Jobs" data-dojo-attach-point="_jobs"></div>
    <div title="Job History" data-dojo-type="bluegene/navigator/dijit/JobHistory" data-dojo-attach-point="_jobHistory"></div>
    <div title="Blocks" data-dojo-type="bluegene/navigator/dijit/Blocks" data-dojo-attach-point="_computeBlocks"></div>
    <div title="I/O Blocks" data-dojo-type="bluegene/navigator/dijit/IoBlocks" data-dojo-attach-point="_ioBlocks"></div>
    <div title="Hardware" data-dojo-type="bluegene/navigator/dijit/Hardware" data-dojo-attach-point="_hardware"></div>
    <div title="Knowledge Center" data-dojo-type="bluegene/navigator/dijit/KnowledgeCenter" data-dojo-attach-point="_knowledgeCenter"></div>
</div>

</div>