<span>

<input name="${name}" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="_input" />
<img class="bgMultiWildcardHelp" src="resources/image/info13.png" alt="Info" id="${id}_info-img" />
<span data-dojo-type="dijit/Tooltip" data-dojo-props="connectId: '${id}_info-img'">
  <b>Format:</b><br/>
  Patterns separated by space<br/>
  * matches any string<br/>
  ? matches any character<br/>
  - prefix removes<br/>
  <b>Examples:</b><br/>
  begins*<br/>
  begins1* begins2*<br/>
  short* -short-skipped*<br/>
</span>

</span>