<div>

<div data-dojo-type="dijit/layout/StackContainer" style="height: 250px;" data-dojo-attach-point="_stackContainer">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="_noEventContainer">
        Select an event to show details.
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="_loadingContainer">
        <span data-dojo-type="bluegene/dijit/OutputFormat" data-dojo-attach-point="_loadingFmt">Loading details for event ${_d}{id}...</span>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="_errorContainer">
        <span data-dojo-type="bluegene/dijit/OutputFormat" data-dojo-attach-point="_errorFmt">
            Failed to load details for event ${_d}{id}, error message follows: ${_d}{msg}
        </span>
    </div>
    <div data-dojo-type="bluegene/navigator/dijit/RasFields" data-dojo-attach-point="_loadedContainer"></div>
</div>

</div>