<div>

<div data-dojo-type="dijit/layout/ContentPane">
    <table class="bgFields bgRasFields">
        <tr>
            <th>ID</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_idField">N/A</td></tr>
        <tr>
            <th>Time</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-props="formatter: this._ll_format.timestampLong" data-dojo-attach-point="_eventTime">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_messageIdItem">
            <th>Message ID</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_messageId">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_categoryItem">
            <th>Category</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_category">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_componentItem">
            <th>Component</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_component">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_severityItem">
            <th>Severity</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_severity">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_jobIdItem">
            <th>Job ID</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_jobId">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_blockIdItem">
            <th>Block ID</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_blockId">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_locationItem">
            <th>Location</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_location">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_ecidItem">
            <th>ECID</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_ecid">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_serialnumberItem">
            <th>Serial Number</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_serialnumber">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_cpuItem">
            <th>CPU</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_cpu">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_countItem">
            <th>Count</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_count">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_messageItem">
            <th>Message</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_message">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_descriptionItem">
            <th>Description</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_description">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_svcActionItem">
            <th>Service Action</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_svcAction">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_controlActionItem">
            <th>Control Action</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_controlAction">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_relevantDiagsItem">
            <th>Relevant Diagnostics</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_relevantDiags">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_thresholdCountItem">
            <th>Threshold Count</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_thresholdCount">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_thresholdPeriodItem">
            <th>Threshold Period</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_thresholdPeriod">N/A</td>
        </tr>
        <tr data-dojo-type="bluegene/dijit/Hideable" data-dojo-attach-point="_rawDataItem">
            <th>Raw Data</th>
            <td data-dojo-type="bluegene/dijit/OutputText" data-dojo-attach-point="_rawData">N/A</td>
        </tr>
    </table>
    <ul>
    </ul>
</div>

</div>